@model ZEMS.Application.Models.Employee.EmployeeModel
@using ZEMS.Web.Pages.Employee
<div class="row panel-container">
    <div class="col-md-12">
        <div class="form-group">
                @Html.DisplayLabelWithRequiredTag(model => Model.FirstName, "control-label small")
                <input asp-for="FirstName" class="form-control form-control-sm" disabled/>
                <span asp-validation-for="FirstName" class="text-danger small"></span>
            </div>
            <div class="form-group">
                @Html.DisplayLabelWithRequiredTag(model => Model.MiddleName, "control-label small")
                <input asp-for="MiddleName" class="form-control form-control-sm" disabled/>
                <span asp-validation-for="MiddleName" class="text-danger small"></span>
            </div>
            <div class="form-group">
                @Html.DisplayLabelWithRequiredTag(model => Model.LastName, "control-label small")
                <input asp-for="LastName" class="form-control form-control-sm" disabled/>
                <span asp-validation-for="LastName" class="text-danger small"></span>
            </div>
                
    </div>
</div>

<script type="text/javascript">   
</script>