@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registration confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Please check your email for activation link or contact your system admininstrator to activate your account.
        </p>
    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
}
