@page
@using Microsoft.Extensions.Options
@model IndexModel
@inject IOptions<ZEMS.Web.ZEMSWebConfig> Config
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Config.Value.Application</p>
</div>
