/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.btn-label, .btn-label:hover 
{
    font-size: 12px;
    margin-left: 7px;
    color:#000;
    font-weight:700;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.tooltip-inner {
    background-color: #17a2b8;
}
.arrow {
    border: none !important;
    /* border-width: 0 2px 2px 0; */
    /* display: inline-block !important; */
    padding: 0px !important;
    transform: rotate(0eg) !important;
    -webkit-transform: rotate(0deg) !important;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
    top: 0;
    border-width: .4rem .4rem 0;
    border-top-color: #17a2b8;
}

.custom-anchor-button, .custom-anchor-button:hover {
    text-decoration: none;
}

.vertical-divider {
    margin-left: 10px;
    margin-right: 10px;
    border-right: 1px solid #e5e5e5;
}
.toolbar-container {
    border: 1px solid rgba(59,65,81,.3);
    border-radius: 5px;
    padding-top: 5px;
    background: rgba(0,0,0,.02);
    margin-left: 0px;
    margin-right: 0px;
}

#web-title {
    font-size:16px;
}

.navbar-brand {
    font-size: 1rem;
}

.list-toolbar {
    margin: 0px;
    padding: 0px;
}

    .list-toolbar li {
        float: left;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

.table td, .table th {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.list-toolbar-button {
    margin-right: 10px !important;
}

.page-sorter,.page-sorter:hover {
    color:#000;
    text-decoration:none;
}

.panel-container {
    border: 1px solid rgba(0,0,0,.125);
    padding-top: 10px;
    background: rgba(0,0,0,.02);
    margin-left: 0px;
    margin-right: 0px;
}

.border-less {
    border: none;
}

.custom-checkbox-input {
    height: 20px;
    width: 20px;
    margin-top: 10px;
    float: left;
}
.custom-checkbox-label {
    padding-top: 10px;
    padding-left: 10px;
}

@media(max-width:575px) {
    .toolbar-right-panel {     
        width:70%;  
    }
    .toolbar-left-panel {      
        width: 30%;
    }
}   
